body {
    background-color: blueviolet;
}

.tablo{
    display: flex;
    justify-content: center;
}


.counter {
    margin: 100px 20px;
    background-color: #378b8d;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.setter{
    margin: 100px 20px;
    background-color: #1c9da1;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.monitor {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: blueviolet 1px solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 2em;
}

.value_input{
    border: blueviolet 1px solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 2em;
}
.max_value{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: blueviolet 1px solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 2em;
}

.start_value{
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: blueviolet 1px solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 2em;
}


.btn_inc {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: blueviolet 1px solid;
    border-radius: 5px;
    margin: 5px;

}

.btn_reset {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: blueviolet 1px solid;
    border-radius: 5px;
    margin: 5px;

}

.red_text {
    color: red;
}

.btn_set {
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: blueviolet 1px solid;
    border-radius: 5px;
    margin: 5px;

}